<h1><%= @user.name %>のページ</h1>

<p>メールアドレス:<%= @user.email %></p>

<p>プロフィール画像:<%= image_tag @user.user_picture.url, style: 'width:400px; height:200px' %></p>

<%= link_to 'プロフィールを編集する', edit_user_path %>

<%= link_to '新しくポストを投稿する', new_post_path %>

<%= link_to 'ポスト一覧画面に移動する', posts_path %>
